* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  height: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow: hidden;
  -webkit-app-region: drag;
  app-region: drag;
  background: transparent;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}
